.slide-1 {
    .item-image {
        width: 18rem;
        height: 18rem;
        position: absolute;
        top: 2rem;
        left: 0;
        right: 0;
        margin: auto;
        background-image: url('../images/person/1.jpg');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .item-text {
        width: 18rem;
        height: 18rem;
        position: absolute;
        top: 16rem;
        left: 0;
        right: 0;
        margin: 0 auto;
        background-image: url('../images/font/1.png');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .button-image {
        width: 100%;
        height: 20%;
        position: absolute;
        bottom: 2rem;
        margin: auto;

        .button-image-left {
            width: 20%;
            height: 100%;
            position: absolute;
            left: 0rem;
            margin: auto;
            background-image: url('../gif/button-image-left.gif');
            background-position: center;
            background-repeat: no-repeat;
        }
        .button-image-center {
            width: 92%;
            height: 100%;
            position: absolute;
            margin: auto;
            left: 1em;
            bottom: 0rem;
            background-image: url('../images/button-image-center.png');
            background-position-x: center;
            background-position-y: top;
            background-size: cover;
            background-repeat: no-repeat;
        }
        .button-image-right {
            width: 20%;
            height: 100%;
            position: absolute;
            right: 0rem;
            margin: auto;
            background-image: url('../gif/button-image-right.gif');
            background-position-x: center;
            background-position-y: top;
            background-size: cover;
            background-repeat: no-repeat;
        }
    }
}
